<!DOCTYPE html>
<html>
<head>
  <title>Le site de mauvais gout</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-beer"></div>
<div class="main-content container">
  <header class="body-header navbar navbar-inverse">
    <div class="container header-inside">
      <a href="/" class="logo-link internal-link">
	<canvas id="logo-canvas"></canvas>
	<h1>Mmmmmmmmmmmmmh</h1>
      </a>
    </div>
  </header>
  <div class="container" id="container">
    <div class="content-container">
      <%= yield %>
    </div>
  </div>
</div>
  <canvas id="sub-canvas"></canvas>
  <canvas id="bgCanvas"></canvas>
  <div class="bottom-beer"></div>
  <%= javascript_include_tag "application" %>
</body>
</html>
